BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
CommentPragmas: '^!.*$'
CompactNamespaces: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: true
LambdaBodyIndentation: Signature
Language: Cpp
NamespaceIndentation: All
PackConstructorInitializers: Never
PointerAlignment: Left
SortIncludes: Never
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
